name: Publish to PyPI

on:
    release:
        types: [published]

permissions:
    contents: write
    id-token: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-python@v4
                with:
                    python-version: 3.12
            -   name: Install dependencies
                env:
                    PIP_CONSTRAINT: .github/workflows/constraints.txt
                run: |
                    pipx install hatch
            -   name: Build
                run: |
                    hatch build
            -   uses: actions/upload-artifact@v3
                with:
                    name: dist
                    path: dist

    upload:
        runs-on: ubuntu-latest
        needs: build
        environment: publish
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/download-artifact@v3
                with:
                    name: dist
                    path: dist
            -   name: Upload wheel to release
                uses: svenstaro/upload-release-action@v2
                with:
                    file: dist/*.whl
                    tag: ${{ github.ref }}
                    overwrite: true
                    file_glob: true

            -   name: Publish
                uses: pypa/gh-action-pypi-publish@v1.8.11
